<h1 mat-dialog-title class="mat-title">{{ data.title }}</h1>
<div mat-dialog-content class="mat-body-1" [innerHtml]="data.body">
</div>
<mat-divider class="margin-top-l margin-bottom-l"></mat-divider>
<div mat-dialog-actions class="flex-row-reverse">
  <button *ngIf="data.ok !== 'hide'" mat-flat-button class="ws-mat-accent-border-active"
    [color]="(data.ok === 'delete' || data.ok === 'Delete'  ) ? 'warn': 'blue'" (click)="confirmed()" i18n>
    {{data.ok}}
  </button>
  <button *ngIf="data.cancel !== 'hide'" mat-button
    [ngClass]="{'ws-mat-accent-text ws-mat-accent-border-active margin-right-xs': true}" [mat-dialog-close]
    cdkFocusInitial i18n>{{data.cancel}}</button>
</div>