@import 'ws-vars';
@import 'ws-mixins';

// for main left sidebar fix in all pages
::ng-deep .mat-nav-list.custom-class {
  max-height: 100% !important;
}

%background-image-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%page-center {
  // max-width: $page-center;
  // max-width: $max-screen;
  margin-left: 0 !important;
  margin-right: auto !important;
}

%height-mat-toolbar-sibling {
  height: calc(100% - #{$mat-toolbar-xs});

  // padding: $size-m;
  @include breakpoint-gt-xs {
    height: calc(100% - #{$mat-toolbar-gt-xs});
  }
}
