@import 'ws-vars';
@import 'ws-mixins';

ws-app-nav-bar {
  z-index: 1000;
}

.route-change {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.height-on-bottom {
  overflow: auto;
  // padding-bottom: 56px;
  box-sizing: border-box;
}

::ng-deep .mat-drawer-content {
  overflow-x: hidden!important;
}

.height-on-top {
  padding-top: 56px;
}

.top-nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
}

.bottom-nav-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.height-adjust {
  min-height: calc(100vh - (56px + 52px));

  // background-color: #fff;

  @include breakpoint-xs {
    min-height: calc(100vh - (60px + 77px));
  }
}

.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #F0F3F4;
}

.new-width {
  margin-left: auto;
  margin-right: auto;
  // max-width: 1267px;
  // display: flex;
  flex: 1;
}

.app-footer {
  display: block;
  padding-bottom: 56px;

  @include breakpoint-gt-xs {
    padding: 0;
  }
}

.fix-ww {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 94%;
  /* display: flex; */
  flex: 1;
}

.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.dim {
  opacity: 0.2;
}

router-outlet+* {
  flex-grow: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;
  background: rgba(0,0,0,0.3);
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-ripple {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 84px;
}

.loader-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader-ripple {
  0% {
    top: 38px;
    left: 38px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}
